.base {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 80px;
  padding: 5px;
}

.loading {
  margin-top: 20px;
}

.button {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 70px;
  border: 0;
  margin: 10px;
  padding: 0;
  border-radius: 10px;
  background-color: #006649;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  font-family: Raleway;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.button:active {
  background-color: #00533c;
}
