.base {
  display: flex;
  flex-grow: 1;
  height: 300px;
  width: 700px;
  margin: 5px;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  overflow: hidden;
  color: white;
  text-decoration: none;
}

.overlay {
  display: flex;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-grow: 1;
  transition: background 0.2s;
}

.overlay:hover,
.overlay:active {
  background: rgba(0, 0, 0, 0.4);
}

.title {
  font-size: 36px;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 10px;
  font-weight: 600;
}

.queueTime {
  font-size: 20px;
}

.lastUpdated {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.8);
}
