.base {
  position: relative;
  flex-grow: 1;
  height: 300px;
  width: 370px;
  background-position: center;
  background-size: cover;
}

@media (max-width: 1000px) {
  .base {
    height: 260px;
    width: 300px;
  }
}

.overlay {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  background: rgba(0, 0, 0, 0.7);
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.title {
  font-size: 36px;
  color: rgba(255, 255, 255, 0.9);
  margin-top: 10px;
}

.queueTime {
  font-size: 20px;
}

.lastUpdated {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.8);
}
