body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Raleway;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  background-color: #006649;
}